@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    src: local('Ubuntu Light'), local('Ubuntu-Light'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v5/_aijTyevf54tkVDLy-dlnD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

body {

    width: 350px;
    font-family: Ubuntu, serif;
    font-size: 10pt;
    background-color: #2c2e31;
    color: black;
    padding: 10px;

}

h3, h4 {
    color: white;
    display: inline;
}

#radio-group {

    color: white;
    font-size: 130%;

}

#floatleft {

    float: left;
    padding-right: 7px;

}
/* Removes strange Chrome default focus border around buttons */

*:focus {
    outline:none;
}

/* Bootstrap Overrides */

.btn-primary {

    background-color: #83ba43;

}

.btn-primary:hover {

    background-color: #758E58;

}